# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../:\P01_MyFirstWebsite\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
